@model IEnumerable<WebNhac.Models.tbQuocGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int index = 1;
    string xoa = "xoaquocgia";
}

<div class="content">
    <div class="container-fluid">
        <a href="@Url.Action("Create", "Admin_QuocGia")" type="button" class="btn btn-danger w-25" style="background: #fc727a; color: white">Thêm quốc gia</a>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>
                    STT
                </td>
                <th>
                    <span>Tên quốc gia</span>
                </th>
                <th>
                    <span>Ảnh quốc gia</span>
                </th>
                <th>Tùy chọn</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @index
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenQuocGia)
                    </td>
                    <td>
                        <img src="~/Content/images/QuocGia/@item.AnhQuocGia" style="width: 140px; height: 120px" />
                    </td>
                    <td>
                        <a href="/BaiHat/BaiHatTheoQuocGia/@item.MaQuocGia" target="_blank"><i class="fa fa-eye"></i></a>
                        <a href="@Url.Action("Edit", "Admin_QuocGia", new { id = item.MaQuocGia })"><i class="fa fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="#@xoa@item.MaQuocGia"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                index++;

                <!-- Modal -->
                <div class="modal fade" id="@xoa@item.MaQuocGia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="color: red">Xác nhận</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Quốc gia có chứa dữ liệu bài hát, bạn chắc chắn muốn xóa quốc gia này và các bài hát liên quan ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-left: 60%">Đóng</button>
                                <a href="@Url.Action("DeleteConfirmed", "Admin_QuocGia", new { id = item.MaQuocGia})" type="button" class="btn btn-danger" style="background: #fc727a; color: white">Xác nhận</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </table>
    </div>
</div>

