<div class="content" style="min-height: 200px!important">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="background: blueviolet; height: 120px">
                    <div class="card-title" style="padding-left: 15px; color: white">
                        <h3><b>Tổng bài hát</b></h3>
                    </div>
                    <div class="card-body" style="padding-left: 20%; padding-right: 20%; padding-top: 5px; color: white">
                        <span><span style="float: left; font-size: 30px">@ViewBag.thongkebaihat</span><i class="fa fa-music" style="float: right; font-size: 40px"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="background: #a1e82c; height: 120px">
                    <div class="card-title" style="padding-left: 15px; color: white">
                        <h3><b>Tổng album</b></h3>
                    </div>
                    <div class="card-body" style="padding-left: 20%; padding-right: 20%; padding-top: 5px; color: white">
                        <span><span style="float: left; font-size: 30px">@ViewBag.thongkealbum</span><i class="fa fa-headphones" style="float: right; font-size: 40px"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="background: #fc727a; height: 120px">
                    <div class="card-title" style="padding-left: 15px; color: white">
                        <h3><b>Tổng ca sỹ</b></h3>
                    </div>
                    <div class="card-body" style="padding-left: 20%; padding-right: 20%; padding-top: 5px; color: white">
                        <span><span style="float: left; font-size: 30px">@ViewBag.thongkecasy</span><i class="fa fa-microphone" style="float: right; font-size: 40px"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="background: #ffbc67; height: 120px">
                    <div class="card-title" style="padding-left: 15px; color: white">
                        <h3><b>Tổng thành viên</b></h3>
                    </div>
                    <div class="card-body" style="padding-left: 20%; padding-right: 20%; padding-top: 5px; color: white">
                        <span><span style="float: left; font-size: 30px">@ViewBag.thongkethanhvien</span><i class="fa fa-user" style="float: right; font-size: 40px"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
