@using WebNhac.Models;
@model tbNguoiDung
@{
    HttpCookie cookie = Request.Cookies["id"];
}
<div class="header-top-right">
    <div class="signin">
        @if (cookie != null)
        {
            NgheNhacEntities db = new NgheNhacEntities();
            int id = int.Parse(cookie.Value.ToString());
            tbNguoiDung nd = db.tbNguoiDungs.Find(id);
            <b style="font-size: 15px">Chào: @nd.TenND</b>
            <a href="@Url.Action("DangXuat", "TaiKhoan")">Đăng xuất&nbsp;</a>
        }
        else
        {
            <a href="@Url.Action("TaiKhoan", "TaiKhoan")" class="btn btn-primary">Đăng nhập</a>
        }
    </div>
    <div class="clearfix"> </div>
</div>

@if (Session["tb"] != null && cookie != null)
{
    if (Session["tb"].ToString() == "DangKy")
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#tbdk').modal('show');
            });
        </script>
        Session["tb"] = null;
    }
    else if (Session["tb"].ToString() == "DangNhap")
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#tbdn').modal('show');
            });
        </script>
        Session["tb"] = null;
    }
}
<!-- Dang nhap -->
<div class="modal fade" id="tbdn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thoông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Chào mừng bạn quay lại MP3PRO</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Dang ki -->
<div class="modal fade" id="tbdk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Chào mừng bạn đến với MP3PRO</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>