USE [master]
GO
/****** Object:  Database [NgheNhac]    Script Date: 7/27/2020 4:03:35 PM ******/
CREATE DATABASE [NgheNhac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NgheNhac', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NgheNhac.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NgheNhac_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\NgheNhac_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NgheNhac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NgheNhac]
GO
/****** Object:  Table [dbo].[tbAdmin]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbAdmin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TenAdmin] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[VaiTro] [bit] NULL,
 CONSTRAINT [PK_tbAdmin] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbAlbum]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlbum](
	[MaAlbum] [int] IDENTITY(1,1) NOT NULL,
	[TenAlbum] [nvarchar](50) NULL,
	[AnhAlbum] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_tbAlbum] PRIMARY KEY CLUSTERED 
(
	[MaAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbAlbumCaNhan]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlbumCaNhan](
	[MaAlbumCaNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaNhac] [int] NULL,
	[NgayThem] [datetime] NULL,
	[MaNguoiDung] [int] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[MaAlbumCaNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbAlbumDSNhac]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlbumDSNhac](
	[MaAlbumDSNhac] [int] IDENTITY(1,1) NOT NULL,
	[MaAlbum] [int] NULL,
	[MaNhac] [int] NULL,
 CONSTRAINT [PK_AlbumDSNhac] PRIMARY KEY CLUSTERED 
(
	[MaAlbumDSNhac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbBinhLuan]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[NoiDungBinhLuan] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaNhac] [int] NULL,
	[MaND] [int] NULL,
 CONSTRAINT [PK_tbBinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCaSi]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCaSi](
	[MaCaSi] [int] IDENTITY(1,1) NOT NULL,
	[TenCaSi] [nvarchar](30) NULL,
	[AnhCaSi] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbCaSi] PRIMARY KEY CLUSTERED 
(
	[MaCaSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbNguoiDung]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbNguoiDung](
	[MaND] [int] IDENTITY(1,1) NOT NULL,
	[TenND] [nvarchar](30) NOT NULL,
	[TaiKhoan] [varchar](30) NULL,
	[MatKhau] [nvarchar](30) NULL,
	[NgayTao] [datetime] NULL,
	[Token] [nvarchar](max) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_tbNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbNhac]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhac](
	[MaNhac] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiHat] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[LoiBaiHat] [nvarchar](max) NULL,
	[Nhac] [nvarchar](max) NULL,
	[LuotXem] [int] NULL,
	[LinkTaiVe] [nvarchar](max) NULL,
	[LuotLike] [int] NULL,
	[MaTheLoai] [int] NULL,
	[MaQuocGia] [int] NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_tbNhac] PRIMARY KEY CLUSTERED 
(
	[MaNhac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbQuocGia]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuocGia](
	[MaQuocGia] [int] IDENTITY(1,1) NOT NULL,
	[TenQuocGia] [nvarchar](50) NULL,
	[AnhQuocGia] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbQuocGia] PRIMARY KEY CLUSTERED 
(
	[MaQuocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTheLoai]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](20) NULL,
	[AnhTheloai] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTraLoi]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTraLoi](
	[MaTraLoi] [int] IDENTITY(1,1) NOT NULL,
	[NoiDungTraLoi] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaBinhLuan] [int] NULL,
	[MaND] [int] NULL,
 CONSTRAINT [PK_tbTraLoi] PRIMARY KEY CLUSTERED 
(
	[MaTraLoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTrinhBay]    Script Date: 7/27/2020 4:03:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTrinhBay](
	[MaTrinhBay] [int] IDENTITY(1,1) NOT NULL,
	[MaNhac] [int] NULL,
	[MaCaSi] [int] NULL,
 CONSTRAINT [PK_tbTrinhBay] PRIMARY KEY CLUSTERED 
(
	[MaTrinhBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbAdmin] ON 

INSERT [dbo].[tbAdmin] ([MaAdmin], [TaiKhoan], [MatKhau], [TenAdmin], [NgayTao], [VaiTro]) VALUES (1, N'hieudn', N'123', N'Hiếu', CAST(0x0000AC0500000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbAdmin] OFF
SET IDENTITY_INSERT [dbo].[tbAlbum] ON 

INSERT [dbo].[tbAlbum] ([MaAlbum], [TenAlbum], [AnhAlbum], [NgayDang]) VALUES (1, N'Con cu siêu nhân', N'yua_mikami.jpg', CAST(0x0000AC0500000000 AS DateTime))
INSERT [dbo].[tbAlbum] ([MaAlbum], [TenAlbum], [AnhAlbum], [NgayDang]) VALUES (2, N'Tuyển tập Yua Mikami', N'yua_mikami.jpg', CAST(0x0000AC0500000000 AS DateTime))
INSERT [dbo].[tbAlbum] ([MaAlbum], [TenAlbum], [AnhAlbum], [NgayDang]) VALUES (3, N'Top100 nhạc chế', N'yua_mikami.jpg', CAST(0x0000AC0500000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbAlbum] OFF
SET IDENTITY_INSERT [dbo].[tbAlbumDSNhac] ON 

INSERT [dbo].[tbAlbumDSNhac] ([MaAlbumDSNhac], [MaAlbum], [MaNhac]) VALUES (1, 1, 1)
INSERT [dbo].[tbAlbumDSNhac] ([MaAlbumDSNhac], [MaAlbum], [MaNhac]) VALUES (2, 1, 2)
INSERT [dbo].[tbAlbumDSNhac] ([MaAlbumDSNhac], [MaAlbum], [MaNhac]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[tbAlbumDSNhac] OFF
SET IDENTITY_INSERT [dbo].[tbBinhLuan] ON 

INSERT [dbo].[tbBinhLuan] ([MaBinhLuan], [NoiDungBinhLuan], [NgayDang], [MaNhac], [MaND]) VALUES (1, N'nhac hay qua', CAST(0x0000AC0500ECC87A AS DateTime), 11, 3)
INSERT [dbo].[tbBinhLuan] ([MaBinhLuan], [NoiDungBinhLuan], [NgayDang], [MaNhac], [MaND]) VALUES (2, N'giọng chị nghe phê quá :)', CAST(0x0000AC0500ECF8F7 AS DateTime), 17, 3)
SET IDENTITY_INSERT [dbo].[tbBinhLuan] OFF
SET IDENTITY_INSERT [dbo].[tbCaSi] ON 

INSERT [dbo].[tbCaSi] ([MaCaSi], [TenCaSi], [AnhCaSi]) VALUES (1, N'Sơn Tùng-MTP', N'SonTung.jpg')
INSERT [dbo].[tbCaSi] ([MaCaSi], [TenCaSi], [AnhCaSi]) VALUES (2, N'Bích Phương', N'BichPhuong.jpg')
INSERT [dbo].[tbCaSi] ([MaCaSi], [TenCaSi], [AnhCaSi]) VALUES (3, N'Yua Mikami', N'yua_mikami.jpg')
SET IDENTITY_INSERT [dbo].[tbCaSi] OFF
SET IDENTITY_INSERT [dbo].[tbNguoiDung] ON 

INSERT [dbo].[tbNguoiDung] ([MaND], [TenND], [TaiKhoan], [MatKhau], [NgayTao], [Token], [Email]) VALUES (1, N'Hieu', N'duchieudndh', N'123', NULL, NULL, NULL)
INSERT [dbo].[tbNguoiDung] ([MaND], [TenND], [TaiKhoan], [MatKhau], [NgayTao], [Token], [Email]) VALUES (2, N'thanh', NULL, N'1', CAST(0x0000AC0500D1C6F8 AS DateTime), N'dfcc9972-58a7-48bc-8d03-bc2bfab6c4a8', N'thanh@gmail.com')
INSERT [dbo].[tbNguoiDung] ([MaND], [TenND], [TaiKhoan], [MatKhau], [NgayTao], [Token], [Email]) VALUES (3, N'thanh', NULL, N'1', CAST(0x0000AC0500D8751C AS DateTime), N'2f5d09ad-6356-4644-8560-e8402c56f7ce', N'ttcode.er@gmail.com')
SET IDENTITY_INSERT [dbo].[tbNguoiDung] OFF
SET IDENTITY_INSERT [dbo].[tbNhac] ON 

INSERT [dbo].[tbNhac] ([MaNhac], [TenBaiHat], [HinhAnh], [LoiBaiHat], [Nhac], [LuotXem], [LinkTaiVe], [LuotLike], [MaTheLoai], [MaQuocGia], [NgayDang]) VALUES (1, N'Hãy Trao Cho Anh', N'HayTraoChoAnh.jpg', N'Không Có', N'Hay Trao Cho Anh.mp3', 12, NULL, 12, 1, 1, CAST(0x0000AB2900000000 AS DateTime))
INSERT [dbo].[tbNhac] ([MaNhac], [TenBaiHat], [HinhAnh], [LoiBaiHat], [Nhac], [LuotXem], [LinkTaiVe], [LuotLike], [MaTheLoai], [MaQuocGia], [NgayDang]) VALUES (2, N'Anh Đã Quen Với Cô Đơn', N'Anh Da Quen Voi Co Don.jpg', N'Không Có', N'Anh-Da-Quen-Voi-Co-Don-Soobin-Hoang-Son.mp3', 12, NULL, 2452, 5, 3, CAST(0x0000AB2900000000 AS DateTime))
INSERT [dbo].[tbNhac] ([MaNhac], [TenBaiHat], [HinhAnh], [LoiBaiHat], [Nhac], [LuotXem], [LinkTaiVe], [LuotLike], [MaTheLoai], [MaQuocGia], [NgayDang]) VALUES (3, N'Ánh Nắng Của Anh', N'Anh Nang Cua Anh.jpg', N'Không Có', N'Anh-Nang-Cua-Anh-Cho-Em-Den-Ngay-Mai-OST-Duc-Phuc.mp3', 12, NULL, 452, 2, 4, CAST(0x0000AB2900000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbNhac] OFF
SET IDENTITY_INSERT [dbo].[tbQuocGia] ON 

INSERT [dbo].[tbQuocGia] ([MaQuocGia], [TenQuocGia], [AnhQuocGia]) VALUES (1, N'Việt Nam', N'Us-Uk.jpg')
INSERT [dbo].[tbQuocGia] ([MaQuocGia], [TenQuocGia], [AnhQuocGia]) VALUES (2, N'Nhật Bản', N'Us-Uk.jpg')
INSERT [dbo].[tbQuocGia] ([MaQuocGia], [TenQuocGia], [AnhQuocGia]) VALUES (3, N'Âu Mỹ', N'Us-Uk.jpg')
SET IDENTITY_INSERT [dbo].[tbQuocGia] OFF
SET IDENTITY_INSERT [dbo].[tbTheLoai] ON 

INSERT [dbo].[tbTheLoai] ([MaTheLoai], [TenTheLoai], [AnhTheloai]) VALUES (1, N'Nhạc Trẻ', N'Tre.jpg')
INSERT [dbo].[tbTheLoai] ([MaTheLoai], [TenTheLoai], [AnhTheloai]) VALUES (2, N'Night Core', N'Aucotis.jpg')
INSERT [dbo].[tbTheLoai] ([MaTheLoai], [TenTheLoai], [AnhTheloai]) VALUES (3, N'Anime', N'Aucotis.jpg')
SET IDENTITY_INSERT [dbo].[tbTheLoai] OFF
SET IDENTITY_INSERT [dbo].[tbTrinhBay] ON 

INSERT [dbo].[tbTrinhBay] ([MaTrinhBay], [MaNhac], [MaCaSi]) VALUES (1, 1, 1)
INSERT [dbo].[tbTrinhBay] ([MaTrinhBay], [MaNhac], [MaCaSi]) VALUES (2, 2, 2)
INSERT [dbo].[tbTrinhBay] ([MaTrinhBay], [MaNhac], [MaCaSi]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[tbTrinhBay] OFF
ALTER TABLE [dbo].[tbAlbumCaNhan]  WITH CHECK ADD  CONSTRAINT [FK_tbAlbumCaNhan_tbNhac] FOREIGN KEY([MaNhac])
REFERENCES [dbo].[tbNhac] ([MaNhac])
GO
ALTER TABLE [dbo].[tbAlbumCaNhan] CHECK CONSTRAINT [FK_tbAlbumCaNhan_tbNhac]
GO
ALTER TABLE [dbo].[tbAlbumDSNhac]  WITH CHECK ADD  CONSTRAINT [FK_tbAlbumDSNhac_tbAlbum] FOREIGN KEY([MaAlbum])
REFERENCES [dbo].[tbAlbum] ([MaAlbum])
GO
ALTER TABLE [dbo].[tbAlbumDSNhac] CHECK CONSTRAINT [FK_tbAlbumDSNhac_tbAlbum]
GO
ALTER TABLE [dbo].[tbAlbumDSNhac]  WITH CHECK ADD  CONSTRAINT [FK_tbAlbumDSNhac_tbNhac] FOREIGN KEY([MaNhac])
REFERENCES [dbo].[tbNhac] ([MaNhac])
GO
ALTER TABLE [dbo].[tbAlbumDSNhac] CHECK CONSTRAINT [FK_tbAlbumDSNhac_tbNhac]
GO
ALTER TABLE [dbo].[tbBinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_tbBinhLuan_tbNguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[tbNguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[tbBinhLuan] CHECK CONSTRAINT [FK_tbBinhLuan_tbNguoiDung]
GO
ALTER TABLE [dbo].[tbBinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_tbBinhLuan_tbNhac] FOREIGN KEY([MaNhac])
REFERENCES [dbo].[tbNhac] ([MaNhac])
GO
ALTER TABLE [dbo].[tbBinhLuan] CHECK CONSTRAINT [FK_tbBinhLuan_tbNhac]
GO
ALTER TABLE [dbo].[tbNhac]  WITH CHECK ADD  CONSTRAINT [FK_tbNhac_tbQuocGia] FOREIGN KEY([MaQuocGia])
REFERENCES [dbo].[tbQuocGia] ([MaQuocGia])
GO
ALTER TABLE [dbo].[tbNhac] CHECK CONSTRAINT [FK_tbNhac_tbQuocGia]
GO
ALTER TABLE [dbo].[tbNhac]  WITH CHECK ADD  CONSTRAINT [FK_tbNhac_tbTheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[tbTheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[tbNhac] CHECK CONSTRAINT [FK_tbNhac_tbTheLoai]
GO
ALTER TABLE [dbo].[tbTraLoi]  WITH CHECK ADD  CONSTRAINT [FK_tbTraLoi_tbBinhLuan] FOREIGN KEY([MaBinhLuan])
REFERENCES [dbo].[tbBinhLuan] ([MaBinhLuan])
GO
ALTER TABLE [dbo].[tbTraLoi] CHECK CONSTRAINT [FK_tbTraLoi_tbBinhLuan]
GO
ALTER TABLE [dbo].[tbTraLoi]  WITH CHECK ADD  CONSTRAINT [FK_tbTraLoi_tbNguoiDung] FOREIGN KEY([MaND])
REFERENCES [dbo].[tbNguoiDung] ([MaND])
GO
ALTER TABLE [dbo].[tbTraLoi] CHECK CONSTRAINT [FK_tbTraLoi_tbNguoiDung]
GO
ALTER TABLE [dbo].[tbTrinhBay]  WITH CHECK ADD  CONSTRAINT [FK_tbTrinhBay_tbCaSi] FOREIGN KEY([MaCaSi])
REFERENCES [dbo].[tbCaSi] ([MaCaSi])
GO
ALTER TABLE [dbo].[tbTrinhBay] CHECK CONSTRAINT [FK_tbTrinhBay_tbCaSi]
GO
ALTER TABLE [dbo].[tbTrinhBay]  WITH CHECK ADD  CONSTRAINT [FK_tbTrinhBay_tbNhac] FOREIGN KEY([MaNhac])
REFERENCES [dbo].[tbNhac] ([MaNhac])
GO
ALTER TABLE [dbo].[tbTrinhBay] CHECK CONSTRAINT [FK_tbTrinhBay_tbNhac]
GO
USE [master]
GO
