@using Music_pv.Models;
@model List<DSNhac>
    <ol>
        <div class="col-md-1" style="width: 512.333333% !important;">
            <div class="list-group" >
                <a href="#" class="list-group-item list-group-item-action active" style="font-size: 15px;">
                    BẢNG XẾP HẠNG VIỆT NAM
                </a>
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("XemChiTiet","HienThi",new {@manhac = item.IDNhac })" class="list-group-item list-group-item-action">
                        <img src="@Url.Content("~/Image/BaiHat/" + item.HinhBaiHat)" style="width: 30px; height: 30px; border-radius: 100%" />
                        <li style="float: right; color: orangered; font-size: 20px; font-weight: bold;">TOP</li>
                        <br />
                        <span style="color: black; font-size: 13px; font-weight: bold">
                            @item.TenBaiHat
                            <span style="float: right"><i class="fas fa-headphones">&nbsp;</i>@item.LuotNghe</span>
                        </span>
                    </a>
                }
            </div>
        </div>
    </ol>
    
