@using Music_pv.Models;
@model List<DSNhac>
@{
    ViewBag.Title = "Top100BaiHatNhacTre";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
   <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_2",
		cssSelectorAncestor: "#jp_container_2"
	}, [

		{
			title:"Your Face",
			mp3:"@Html.Action("LinkNhacTop100NhacTre","HienThi")",
		},
		{
			title:"Cyber Sonnet",
			mp3:"@Html.Action("LinkNhacTop100NhacTre","HienThi")",
		},


		{
			title:"Lismore",
			mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
		},
	], {
		swfPath: "../../dist/jplayer",
		supplied: "oga, mp3",
		wmode: "window",
		useStateClassSkin: true,
		autoBlur: false,
		smoothPlayBar: true,
		keyEnabled: true
	});
});
//]]>
    </script>
</head>
<body>
    <!-- main -->
    <div class="">
        <h1>Classy Audio Player Widget</h1>
        <div class="audio-record-list w3layouts_audio">
            <div class="w3_figure w3ls_fig">
                <img src="~/Content/player/images/2.jpg" alt=" " class="img-responsive" style="width: 100%"/>
            </div>
            <div id="jquery_jplayer_2" class="jp-jplayer w3l_play"></div>
            <div id="jp_container_2" class="jp-audio agileits_audio" role="application" aria-label="media player">
                <div class="jp-type-playlist agileinfo_playlist">
                    <div class="jp-gui jp-interface wthree_jp">
                        <div class="jp-controls w3_agileits_controls">
                            <button class="jp-previous" role="button" tabindex="0">previous</button>
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-next" role="button" tabindex="0">next</button>
                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                        </div>
                        <div class="jp-progress agileits_w3layouts_progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-volume-controls agile_volume">
                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                        </div>
                        <div class="jp-time-holder w3_agile_holder">
                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        </div>
                    </div>
                    <div class="jp-playlist w3layouts_either">
                        <ul>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                    <div class="jp-no-solution w3_no">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
            <div class="social-icons w3agile">
                <ul>

                    <li><a href="#" class="facebook"><img src="~/Content/player/images/fb.png" title="facebook" alt="facebook"></a></li>
                    <li><a href="#" class="twitter"><img src="~/Content/player/images/tw.png" title="twitter" alt="twitter"></a></li>
                    <li><a href="#" class="googleplus"><img src="~/Content/player/images/gp.png" title="googleplus" alt="googleplus"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <!-- //main -->
    <!-- script for play-list -->
    <link href="~/Content/player/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Content/player/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="~/Content/player/js/jplayer.playlist.min.js"></script>
    <!-- //script for play-list -->
</body>
</html>

